body{
    font-weight: bold;

}
#errormessage {
    color: red
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    /* max-width: 100%; */
}
img {
    display: block;
}

.image-container {
    max-width: 100%;
    display: block;

}

.product-img {
    width: 100%;
}

button {
    width: 150px;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}   