
body{
    background-color: #eee;

}
#content{
    width:25    0px;
    margin:0 auto;
    background-color: #fff;
    text-align: justify;
    padding: 20px;
    max-height: 270px;
    overflow:  hidden;
    font-family: calibri;
    font-size: 14px;
    color: #444;   
    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px;
    transition: max-height 0.7s;
}

#show-more{
    background-color: #1594e5;
    color: #fff;
    font-family: calibri;
    padding: 10px;
    text-transform: uppercase;
    width: 140px;
    font-size: 24px;
    text-align: center;
    margin:20px auto;
    display: block;
    cursor: pointer;
}