p{
    margin: 0
}
body{
    font-family: arial;
    margin: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    margin-top: 30px;
}
.containchild{
    max-height: 1050px;
    background-color: #eee;
    width: 350px;
    height: 400px;
    overflow:hidden;
    padding: 10px;
    margin-bottom: 20px;

}
.button{
    background-color: blue;
    color: white;
    width: 120px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor:pointer;


}