body{
    font-weight: bold;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    /* max-width: 100%; */
}
img {
    display: block;
}

.image-container {
    max-width: 100%;

}

.product-img {
    width: 100%;
}

button {
    background: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}   